[Locations]
# Path to loadout config. Can use relative path from here.
looks_config = FantaseAppearance.cfg

# Path to python file. Can use relative path from here.
python_file = CppPythonAgent.py

# Name of the bot in-game
name = Fantase

#logo
logo_file = HexagonalW.png

#loadout randomiser
loadout_generator = FantaseGenerator.py

[Bot Parameters]
#cpp_executable_path = ./my_bot.exe
path = ./my_bot.exe

[Details]
developer = B1ue_F1re

# Programming language
language = Cpp

# Short description of the bot
description =

# Fun fact about the bot
fun_fact =

# Link to github repository
github = 