# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
Bot/build
Bot/cmake-build-debug
Bot/release/my_bot.exe
Bot/release/my_bot.ilk
Bot/release/my_bot.pdb
Bot/release/rlutilities.dll
.idea